@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&family=Roboto:wght@400;500&display=swap');

:root {
/* Color Theme Swatches in RGBA */
--primary-bg-color: rgba(20, 23, 28, 1);
--secondary-bg-color: rgba(43, 52, 63, 1);
--primary-text-color: rgb(255, 255, 255);
--secondary-text-color: rgb(153, 170, 187);
--primary-accent-color:  rgba(0, 175, 33, 1); 
--secondary-accent-color: rgba(242, 116, 4, 1); 

/* Fonts */
--primary-font: "Roboto Slab", serif;
--secondary-font: "Roboto", sans-serif;

--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

* {
    
    color: var(--primary-text-color);
}

html {
    min-height: 100vh;
}

body {
    font-family: var(--secondary-font);
    font-weight: 400;
    background-color: var(--primary-bg-color);
}

main {
    min-height: 100vh;
}

a,
a.nav-link {
    color: var(--primary-text-color);
    padding-top: 0;
    padding-bottom: 0;
}

a:hover,
a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active {
    color: var(--secondary-accent-color)
}

.navbar-toggler {
    background-color: var(--primary-text-color);
}

.navbar-toggler-icon {
    background-image: var(--bs-navbar-toggler-icon-bg);
}

.navbar {
    background-color: transparent;
}

/* Search bar */
#search {
    height: 2rem;
    opacity: .8;
    max-width: 9rem;
}

#search .btn {
    padding: .375rem .75rem;
    width: 2rem;
    background-color: var(--secondary-bg-color);
    
}

#search .bi {
    width: 1rem;
}

.form-control {
    background-color: var(--primary-text-color);
    border-color: var(--secondary-text-color);
    color: var(--secondary-text-color);
}

.btn i {
    font-size: 1rem;
}
/* End search bar */

/* Homepage */
#hero {
    height: 80vh;
    width: 100%;
}

#hero-image {
    max-width: 100%;
    height: 100vh;
    background: url('/static/images/4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 -8rem 25rem 16rem var(--primary-bg-color) inset;
    z-index: -1;
}

#hero-title {
    font-family: var(--primary-font);
}

#hero-title p {
    margin-bottom: 0;
    /* font-weight: 600; */
}

#hero-title .h1 {
    font-weight: 600;
}

.btn {
        background-color: var(--secondary-accent-color);
        padding: .8rem 2rem;
        border: none;
        letter-spacing: .1rem;
        text-transform: uppercase
}
    
.btn:hover,
.btn:active,
.btn:focus {
        background-color: var(--primary-accent-color);
        border: none;
}

.btn a,
.btn a:hover {
    text-decoration: none;
    color: var(--primary-text-color);
}

#content {
    max-width: 1280px;
}

i {
    font-size: 3rem;
}

.list-group-item {
    background-color: var(--secondary-bg-color);
}
.list-group-item:hover,
.list-group-item:focus {
    background-color: var(--primary-accent-color);
}

@media(max-width: 996px) {
    #hero-title {
        top: 30% !important;
    }
}

@media(max-width: 992px) {
    #hero {
        height: 60vh;
    }
    #hero-image {
        box-shadow: 0 -10rem 10rem 3rem var(--primary-bg-color) inset;
        background: url('/static/images/4.jpg'), var(--primary-bg-color);
        background-size: cover;
        background-blend-mode: overlay;
    }
}

/* List */
#cards {
    max-width: 100%;
}

.card {
    background-color: var(--secondary-bg-color);
    width: 14rem;
}

.card-title {
    min-height: 3.5rem;
    border-radius: .2rem;
}

.card-title:hover {
    background-color: var(--secondary-accent-color);
    transition: all .2s ease-in;
    cursor: pointer;
}

.card-img-top {
   height: 70%;
}

/* Movie page */
/* If user is not logged in */
#login-message {
    background-color: var(--primary-accent-color);
    border-radius: .2rem;
    padding: .3rem .5rem;
    color: var(--primary-text-color);
}

#login-message:hover {
    cursor: pointer;
}

#poster-col a {
    text-decoration: none;
}

#poster-col a:hover {
    color: var(--secondary-text-color);
    text-decoration: none;
}

/* If user is logged in */
#poster-col span {
    background-color: transparent;
    padding: 0;
    width: 4.5rem;
}

#poster-col span .bi {
    font-size: 2rem;
} 
#poster-col span .bi:hover {
    cursor: pointer;
} 

#poster-col span p {
    font-size: .8rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
}

#content-col p {
    /* background-color: gray; */
    color: var(--secondary-text-color)
    
}

#watched.-on  {
    color: var(--primary-accent-color)
}

#liked.-on {
    color: var(--secondary-accent-color)
}

#details p.h1 {
    color: var(--primary-text-color)
}

#details p.h5 {
    /* margin-top: 1.2rem; */
    /* font-weight: 400; */
    font-weight: 300;
    font-family: var(--primary-font);
}

#plot p {
    font-weight: 300;
    font-family: var(--primary-font);
}

#ratings_title {
    border-bottom: 1px solid var(--secondary-text-color);
    text-transform: uppercase;
    font-family: var(--secondary-font);
}

#ratings_source .bi {
    font-size:1rem;
    color: var(--primary-accent-color)
}

#ratings_source {
    font-weight: 300;
}

#accordion {
    width: 100%;
}

#accordion-item {
    background-color: transparent;
}

.accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--secondary-text-color);
}

.accordion-button {
    background-color: transparent;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-left: 0;
}

.accordion-body {
    padding-left: 0;
}

.accordion-body span {
    text-transform: uppercase;
    margin-right: .5rem;
}

.accordion-button:after {
    /* color: var(--primary-accent-color) */
    content: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: var(--primary-accent-color)
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

/* Account */
#account-card {
    max-height: 9rem;
    max-width: 6rem;
    height: 100%;
}

.row .bi {
    font-size: 1.2rem;
}

.row p {
    text-transform: uppercase;
    /* font-size: 1.2rem; */
    font-weight: 300;
    color: var(--secondary-text-color)
}