@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@400;500&display=swap');

:root {
/* Color Theme Swatches in RGBA */
--primary-bg-color: rgba(20, 23, 28, 1);
--secondary-bg-color: rgba(43, 52, 63, 1);
--primary-text-color: rgb(255, 255, 255);
--secondary-text-color: rgba(84, 102, 119, 1); 
--primary-accent-color:  rgba(0, 175, 33, 1); 
--secondary-accent-color: rgba(242, 116, 4, 1); 

/* Fonts */
--primary-font: "Roboto Slab", serif;
--secondary-font: "Roboto", sans-serif;

--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

* {
    
    color: var(--primary-text-color);
}

html {
    min-height: 100vh;
}

body {
    font-family: var(--secondary-font);
    font-weight: 400;
    background-color: var(--primary-bg-color);
}

main {
    min-height: 100vh;
}

a,
a.nav-link {
    color: var(--primary-text-color);
}

a:hover,
a.nav-link:hover {
    color: var(--secondary-accent-color)
}

.navbar-toggler {
    background-color: var(--primary-text-color);
}

.navbar-toggler-icon {
    background-image: var(--bs-navbar-toggler-icon-bg);
}