{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}
    
{% block main %}
<div class="container-fluid mx-auto" id="content">
    
    {% if movies['Response'] == "True" %}
    <p class="h1">Top results matching your search</p>
    <hr>
    <div class="container-fluid d-flex flex-row flex-wrap mt-5" id="cards">
        {% for movie in movies['Search'] %}
            <div class="card d-flex mb-4 mx-auto">
                {% if movie['Poster'] == 'N/A' %}
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="movie-poster-placeholder">
                {% else %}
                    <img src="{{ movie['Poster'] }}" class="card-img-top" alt="movie-poster">
                {% endif %}
                    <div class="card-body">
                        <a href="{{ url_for('search', title=movie['Title']) }}"><h5 class="card-title">{{ movie['Title'] }}</h5></a>
                        <p class="card-text">Year: {{ movie['Year'] }}</p>
                    </div>
            </div>
        {% endfor %}     
    {% else %}
        <h1>No Results</h1>
        <p>Please try again</p>
    {% endif %}
    </div>
</div>

{% endblock %}