{% extends "layout.html" %}

{% block head %} 
    <link href="/static/forms.css" rel="stylesheet">
    <script src="/static/forms.js"></script>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="form p-5" id="container-form">
            <h3 class="mb-4">JOIN MOVIETRACKER</h3>
            <form action="/register" method="post">
                {{ form.csrf_token(id = "1") }}
                <div class="mb-4 text-start">
                    <label for="username">Username</label>
                    <!-- Display username input field -->
                    {{ form.username(class="form-control") }}
                    <!-- Check for error -->
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4 text-start">
                    <label for="email">Email</label>
                    <!-- Display email input field -->
                    {{ form.email(class="form-control") }}
                    <!-- Check for error -->
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4 text-start">
                    <label for="password">Password</label>
                    <!-- Display password input field -->
                    {{ form.password(class="form-control") }}
                    <!-- Check for error -->
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4 text-start">
                    <label for="password_confirm">Confirm password</label>
                    <!-- Display passowrd_confirm input field -->
                    {{ form.password_confirm(class="form-control") }}
                    <!-- Check for error -->
                    {% for error in form.password_confirm.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="mt-4">
                    <!-- Display register button -->
                    {{ form.submit(class="btn btn-secondary") }}
                </div>
            </form>
            <p class="mt-3">Already have an account? <a href="/templates/login.html">Login here</a>.</p>
        </div>

    </div>
    
 
{% endblock %}